<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Form</title>
    <style>
        body{
        background-color: rgb(152, 251, 152);
        font-family: sans-serif;
        color: dark-grey;
        margin: 10% 30%;
        padding: 20px;
        text-align: center;
        }
        button{
        border: 0.5px solid grey;
        padding: 7px;
        border-radius: 5px;
        color: dark-grey;
        }
        button:hover{
        cursor: pointer;
        color: light-grey;
        font-weight: 600;
        }
        </style>
</head>
<body>
<h1>Add Feedback</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Feedback</button>
    </form>
</body>
</html>